{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment List {% endblock %}
{% block content %}
	<div id="wraptable" style="margin-top: 200px;">
	<div id="columns" class="columns_3">
  <figure>
  <img src="media/img/routine.jpg">
	<figcaption>Routine Checkup</figcaption>
    <span class="detailsappointment">City Hospital</span>
    <a class="buttonappointment" href="#">Details</a>
	</figure>

	<figure>
	<img src="media/img/dentist.jpg">
	<figcaption>Dentist Appointment</figcaption>
    <span class="detailsappointment">AB Hospital</span>
    <a class="buttonappointment" href="#">Details</a>
	</figure>

  <figure>
	<img src="media/img/eye.jpg">
	<figcaption>Eye Checkup</figcaption>
    <span class="detailsappointment">AB Hospital</span>
    <a class="buttonappointment" href="#">Details</a>
	</figure>

	<figure>
	<img src="media/img/cold.jpeg">
	<figcaption>Common cold</figcaption>
    <span class="detailsappointment">City Hospital</span>
    <a class="buttonappointment" href="#">Details</a>
	</figure>

   <figure>
	 <img src="media/img/Dermatologist.jpg">
	<figcaption>Dermatologist</figcaption>
    <span class="detailsappointment">City Hospital</span>
    <a class="buttonappointment" href="#">Details</a>
	</figure>

   <figure>
	 <img src="media/img/hand.jpg">
	<figcaption>Hand Enjury</figcaption>
     <span class="detailsappointment">City Hospital</span>
     <a class="buttonappointment" href="#"> Details</a>
	</figure>
	</div>

</div>
{% endblock %}