{% extends 'base.html' %}
{% load static %}
{% block title %}LogIn {% endblock %}
{% block content %}
<head>
	<style>
		.if{
  color: black;
}
	</style>
</head>
<body class="body_img">
	<img src="{% static 'img/about_bg.png' %}">
	<div class="mainform" >  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				
				<form action="{% url 'home' %}">
					
					<label for="chk" aria-hidden="true">Patient Sign up</label>
					<input class="if" type="text" name="email" placeholder="Email" required="">
					<input class="if" type="text" name="pswd" placeholder="Password" required="">
					<input class="if" type="text" class ="ageclass" name="age" placeholder="Age" required="" >
					<input class="if" type="text" name="gender" placeholder="Gender" required="">
					<input class="if" type="text" name="bg" placeholder="Blood Group" required="">

					<input type="text" name="Past Allergies" placeholder="Past allergies" required="">
					<a href="{% url 'home' %}"><button class="subbtn">Sign up</button></a>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Patient Login</label>
					<input type="email" name="username" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button class="subbtn">Login</button>
				</form>
			</div>
	</div>
{% endblock %}